{% extends 'base.html.twig' %}

{% block title %}Create Exercise{% endblock %}

{% block body %}
    <h1>Create Exercise</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.type) }}
    {{ form_row(form.muscleGroup) }}
    {{ form_row(form.button) }}
    {{ form_end(form) }}
{% endblock %}