{% extends 'base.html.twig' %}

{% block title %}Exercises!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Exercises</h1>

        <table class="table table-bordered mt-4">
            <thead class="thead-dark">
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Muscle group</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for exercise in exercises %}
                <tr>
                    <td>{{ exercise.id }}</td>
                    <td>{{ exercise.name }}</td>
                    <td>{{ exercise.getMuscleGroup().getName() }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <form action="{{ path('edit_exercise', { 'id': exercise.id }) }}" method="GET">
                                <button type="submit" class="btn btn-primary">
                                    Edit
                                </button>
                            </form>
                            <form action="{{ path('delete_exercise', { 'id': exercise.id }) }}" method="POST">
                                <button type="submit" class="btn btn-danger ml-1">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}