
{% extends 'base.html.twig' %}

{% block title %}Create Muscle Group{% endblock %}

{% block body %}
    <h1>Create Muscle Group</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.button) }}
    {{ form_end(form) }}

    <a href="{{ path('app_muscle_group') }}" class="btn btn-secondary mt-3">Back to Muscle Groups List</a>
{% endblock %}