{% extends 'base.html.twig' %}

{% block title %}Exercises for {{ muscleGroup.name }}{% endblock %}

{% block body %}
    <h1>Exercises for {{ muscleGroup.name }}</h1>
    <ul>
        {% for exercise in exercises %}
            <li>{{ exercise.name }}: {{ exercise.description }}</li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_muscle_group') }}" class="btn btn-secondary">Back to Muscle Groups</a>
{% endblock %}