{% extends 'base.html.twig' %}

{% block title %}Workouts for Trainers{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Workouts for Clients </h1>

        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Client</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for workout in workouts %}
                <tr>
                    <td>{{ workout.id }}</td>
                    <td>{{ workout.name }}</td>
                    <td>{{ workout.createdAt|date("m/d/Y H:i") }}</td>
                    <td>{{ workout.person.name }}</td>
                    <td> <form action="{{ path('delete_workout', { 'id': workout.id }) }}" method="POST">
                            <button type="submit" class="btn btn-danger ml-1">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
